/* Main Container */
.search-container {
  background-color: #ffffff;
  border-radius: 0.5rem;
}

/* Search Heading */
.search-heading {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .search-container {
    padding: 1.5rem;
  }
  .search-heading {
    grid-template-columns: 2fr 1fr;
  }
}

.search-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
}

@media (min-width: 768px) {
  .search-text {
    text-align: left;
  }
}

.search-subtext {
  font-size: 1rem;
  color: #6b7280;
  margin-top: 0.5rem;
  text-align: center;
}

.search-subtext span {
  font-size: 1.5rem;
  color: #00415e;
}

@media (min-width: 768px) {
  .search-subtext {
    text-align: left;
  }
}

.search-image {
  height: 9rem;
  justify-self: center;
}

/* Search Inputs */
.search-input-group {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  justify-content: space-around;
}

@media (min-width: 768px) {
  .search-input-group {
    flex-direction: row;
    gap: 1.5rem;
  }
  .search-image {
    justify-self: end;
  }
}
.search-input-label {
  font-size: 0.8rem;
  font-weight: 700;
  color: #374151;
  margin-bottom: 0.5rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.input-wrapper:focus-within {
  border-color: #00415e;
  box-shadow: 0 0 0 2px rgba(0, 65, 94, 0.3);
}

.input-icon {
  padding: 0 0.75rem;
  color: #6b7280;
}

.input-field {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 0.75rem;
  border: none;
  outline: none;
}

.input-button {
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.input-button--enabled {
  background-color: #00415e;
  color: #ffffff;
  cursor: pointer;
}

.input-button--enabled:hover {
  background-color: #00334c;
}

.input-button--disabled {
  background-color: #d1d5db;
  color: #6b7280;
  cursor: not-allowed;
}
