.subscriber-container {
  background-color: #fff;
  padding: 2rem;

  margin: 2rem auto;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.subscriber-text {
  font-size: 0.625rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #000;

  text-align: center;
}

.subscriber-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
}

.subscriber-input {
  width: 70%;
  font-size: 9px;
}

.subscriber-button {
  background-color: #00415e;
  border: none;
  color: #fff;
  font-size: 0.525rem;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  height: 20px;

  width: 73px;
  text-align: center;

  font-weight: 500;
}

.subscriber-button:hover {
  background-color: #00415e;
}

.subscriber-policy {
  font-size: 0.575rem;
  color: #000;
  text-align: center;
  margin-bottom: 3px;
}
.subscriber-policy-footer {
  font-size: 0.575rem;
  color: #666;
  text-align: center;
}

@media (min-width: 576px) {
  .subscriber-container {
    width: 100%;
  }
  .subscriber-form {
    flex-direction: row;
    align-items: center;
  }
  .subscriber-text {
    font-size: 1rem;
    max-width: 600px;
  }

  .subscriber-button {
    height: 40px;
    align-self: center;
    font-size: 0.725rem;
  }

  .subscriber-input {
    width: 500px;
    font-size: 1rem;
  }
  .subscriber-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
  }
  .subscriber-policy {
    font-size: 0.85rem;
    font-weight: 400;
    color: #000;
    margin: 0;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 500px;
    margin-bottom: 0px;
  }
  .subscriber-policy-footer {
    font-size: 0.85rem;
    font-weight: 400;
    color: #000;
  }
}

.subscriber-alert {
  margin-bottom: 1rem;
  background-color: #d4edda;
  color: #155724;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-size: 0.875rem;
}
