.trust-partner {
  padding: 4rem 1rem;

  text-align: center;
}

.trust-partner__heading {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #000;
  font-weight: 600;
  text-transform: none;
}

.trust-partner__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

  padding: 5px;
}

.trust-partner__card {
  display: flex;
  flex-direction: column;
}

.trust-partner__icon {
  height: 30px;
  width: 35px;
  margin-bottom: 1rem;
  fill: #00415e;
}

.trust-partner__card-title {
  font-size: 0.70rem;
  margin: 0.5rem 0;
  color: #000;
  text-align: left;
  font-weight: 600;
  margin-left: 5px;
}

.trust-partner__card-desc {
  font-size: 0.5rem;
  color: #000;

  max-width: 170px;
  text-align: left;
  margin-left: 5px;
  line-height: 150%;
}

.trust-partner__footer {
  font-size: 0.6rem;
  color: #000;

  line-height: 1.5;
  font-weight: 500;

}

@media (min-width: 768px) {
  .trust-partner__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;

  
  }
  .trust-partner__heading {
    font-size: 1.375rem;
  }
  .trust-partner__card-title {
    font-size: 1rem;
  }
  .trust-partner__card-desc {
    font-size: 0.675rem;
  }
  .trust-partner__footer {
    font-size: 0.75rem;
    color: #000;

    margin: 0 auto;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 5px;
  }
}
