
.CookieConsent{
    display: block !important;
     text-align:center !important;
}

#rcc-confirm-button{
    margin-bottom: 10px !important;
    margin-top: 0px !important;
    align-items:center !important

}
.buttonClass{
     text-align:center !important
    
}

.myclass{
    flex:min-content !important;
    margin:3px !important;
    
}

.cookie-consent-text {
    font-size: 12px;
    padding:5px;
     text-align:center !important
  }
  
  /* Media query for desktops */
  @media (min-width: 768px) {
    .cookie-consent-text {
      font-size: 12px;
         text-align:center !important
    }
  }
